
html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    color: #2e2e31;
    font-family: 'Montserrat', 'sans serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    width: 100vw;
    justify-content: flex-end;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
} 




/*--------------------------------
        NAV BAR GENERAL
----------------------------------*/

ul {
    list-style-type: none;
    align-items: flex-end;
}

li:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
}




/*--------------------------------
        NAV BAR HEADER
----------------------------------*/


.nav-header {
    margin-right: 10%;
    color: #281c6f;
}

.menu-header, .menu-footer {
    margin: 10px;
    padding: 10px;
}

.button {
    background: linear-gradient(180deg, rgb(83 75 232) 0%, #289334 94%, #37b045 99%);
    border-radius: 25px;
    color: #ffffff;
    padding: 10px 40px;
}

#nav-burger {
    display: none;
    cursor: pointer;
}
#nav-burger:hover {
    color: #4abfd0;
}



/*--------------------------------
        DISPLAY FLEX
----------------------------------*/

.seccion-hola, .contenedor-hola, ul, nav, .seccion-quote, .div-quote, .contenedor-proyectos, .seccion-footer, .div-contacto, header, .contenedor-skills, .seccion-skills {
    display: flex;
}

/*--------------------------------
        SECCIÓN HOLA
----------------------------------*/

.seccion-hola {
    justify-content: center;
    align-items: center;
}

.contenedor-hola {
    width: 90%;
    padding: 90px 30px 100px 30px;
    flex-wrap: nowrap;
}

.texto-hola {
    width: 70%;
    padding: 30px;
}

.img-hola {
    width: 60%;
    padding-top: 74px;
    padding-right: 50px;
    padding-left: 46px;
}

.p-hola {
    text-align: left;
    color: #42565b;
    margin: 16px 0 40px 0;
}

/*--------------------------------
        SECCIÓN SKILLS
----------------------------------*/

.seccion-skills {
    background-color: #e0e8f05e;
    padding: 45px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* -- CAJA DE TARJETAS -- */

.contenedor-skills {
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
}

/* -- CAJA DE CADA TARJETA -- */
.skills {
    background-color: #ffffff;
    border: 1px #dddfe5 solid;
    border-radius: 26px;
    width: 132px;
    margin: 10px;
    color: #2e2e31;
    box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-skills { 
    margin: 10px 35px 10px 35px;
    object-position: center;
}

.texto-skills {
    padding: 10px 220px;
}

.h2-skills {
    margin-top: 100px;
}

.p-titulo-skills {
    font-weight: 700;
    font-size: 20px;
}

/*-------------------------
        TEXTOS
-------------------------*/

p {
    text-align: center;
    margin: 10px 0;
}

h1, h3 {
    text-align: left;
}

h1 {
    font-family: 'Allura';
    font-weight: 900;
    font-size: 75px;
    color: #4abfd0;
    text-shadow: 2px 2px 4px #424242;
}

h2, h3 {
    font-weight: 900;
}

h2 {
    font-size: 45px;
    text-align: center;
}

h3 {
    font-size: 30px;
    color: #3c286c;
    margin: 80px 0 10px 0;
}

h4 {
    color: #3c286c;
    font-size: 20px;
    color: #3c286c;
    margin: 80px 0 10px 0; 
    text-align: center;
}


/*--------------------------------
        SECCIÓN QUOTE
----------------------------------*/
.seccion-quote {
    background: linear-gradient(180deg, rgb(83 75 232) 0%, #289334 94%, #37b045 99%);
    color: #fafafa;
    width: 100vw;
    padding: 100px 40px 100px;
    text-align: center;
    justify-content: center;
}

.div-quote {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.p-quote {
    font-family: 'Allura';
    font-size: 35px;
    margin: 10px 100px;
}

.h3-quote {
    font-family: 'Allura';
    font-size: 60px;
    color: #fafafa;
    padding-bottom: 20px;
    font-weight: normal;
}

.img-quote {
    width: 15%;
    padding-bottom: 80px;
}

.ico-quote {
    font-size: 80px;
    margin-bottom: 60px;
}

/*--------------------------------
        SECCIÓN PROYECTOS
----------------------------------*/

.seccion-proyectos {
    background-color: #f9fefb;
    padding: 45px;
}

.contenedor-proyectos {
    margin-top: 40px;
    padding: 30px;
    justify-content: center;
}


/* -- CAJA DE TARJETAS -- */


.main-proyectos {
    width: 95%;
} 

.post-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	gap: 25px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {

    border-radius: 25px;
    color: #2e2e31;
    box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail {
	display: block;
	width: 100%;
	height:180px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.post-preview {
	background-color: #fff;
    padding:15px;
    border-radius: 25px;
}

.post-title {
	margin: 0;
}

.post-intro {
	color:#4b5156;
    font-size: 14px;
    margin-bottom: 22px;
}

.button-proyecto {
    background: linear-gradient(180deg, rgb(83 75 232) 0%, #289334 94%, #37b045 99%);
    border-radius: 25px;
    color: #ffffff;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}
.button-proyecto:hover {
    font-weight: bold;
}

.ver-mas {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 31px;
}

/*--------------------------------
            FOOTER
----------------------------------*/
.seccion-footer {
    background: linear-gradient(180deg, rgb(83 75 232) 0%, #289334 94%, #37b045 99%);
    padding: 45px;
    flex-direction: column;
    align-content: center;
}

/* -- MENÚ -- */
.nav-footer {
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 10px auto 10px auto;
    color: #00dfc0;
}

.menu-footer {
    font-size: 14px;
    color: #ffffff;
}

/* -- LOGOS -- */
.div-contacto {
    justify-content: center;
}

.img-contacto {
    width: 80px;
    padding: 10px;
    margin: 10px;
}

/* -- TEXTO -- */
.span-footer {
    color: #fafafa;
}

.GM {
    color: #00dfc0;
    font-size: 18px;
}
.favicon {
    width: 40px;
}

/*-------------------------
    @MEDIA TABLETS
-------------------------*/
@media (min-width: 600px) and (max-width: 900px) {

    /*--------------------------------
            NAV BAR HEADER
    ----------------------------------*/

   .nav-header {
        margin-right: 5%;
    }
   
    .menu-header {
        font-size: 16px;
    }

    /*--------------------------------
            SECCIÓN HOLA
    ----------------------------------*/

    .seccion-hola, .contenedor-hola, .texto-hola, .texto-hola ul {
        justify-content: center;
        align-items: center;
    }

    .contenedor-hola {
        flex-wrap: wrap;
    }

    .texto-hola {
        padding: 5px;
        width: 100vw;
    }

    .img-hola {
        width: 70%;
        margin-top: 20px;
    }

    /*-------------------------
            TEXTOS
    -------------------------*/

    .p-hola, h1, h3 {
        text-align: center;
    }

    h1 {
        font-size: 72px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }


    /*--------------------------------
            SECCIÓN SKILLS
    ----------------------------------*/

    /* -- CAJA DE TARJETAS -- */
    .contenedor-skills {
        width: 100%;
    }

    .texto-skills {
        padding: 10px 100px;
    }

    /*--------------------------------
            SECCIÓN PROYECTOS
    ----------------------------------*/

    /* -- CAJA DE TARJETAS -- */
   .contenedor-proyectos {
        padding-left: 0;
        padding-right: 0;
    }

   .main-proyectos{
		width: 95%;
    } 
    
    .ver-mas {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}


/*-------------------------
    @MEDIA CELULARES
-------------------------*/
@media (max-width: 599px) {

    /*--------------------------------
            NAV BAR HEADER
    ----------------------------------*/

  #ul-header {
        display: none;
    }

    #nav-burger {
        display: block;
        font-size: 30px;
        color: #281c6f;
    }


    /*--------------------------------
            SECCIÓN HOLA
    ----------------------------------*/

    .seccion-hola, .contenedor-hola, .texto-hola, .texto-hola ul {
        justify-content: center;
        align-items: center;
    }

    .contenedor-hola {
        flex-wrap: wrap;
        margin-top: 0;
        padding: 0 0 30px 0;
    }

    .texto-hola {
        padding: 5px;
        width: 100vw;
    }

    .img-hola {
        width: 70%;
        margin: 20px;
    }
    
    .p-hola, h1, h3 {
        text-align: center;
    }

    /*--------------------------------
            TEXTOS
    ----------------------------------*/   

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }

    /*--------------------------------
            SECCIÓN SKILLS
    ----------------------------------*/

    /* -- CAJA DE TARJETAS -- */
   .contenedor-skills {
        width: 100%;
        padding: 5px;
    }

    .texto-skills {
        padding: 10px 10px;
        margin: 10px;
        font-size: 16px;
    }  
    
    
    .post-wrapper{
        width: 100%;
        padding: 5px;
    }

    /*--------------------------------
            SECCIÓN QUOTE
    ----------------------------------*/
    .p-quote {
        margin: 10px 50px;
    }

    .h3-quote {
        font-size: 50px;
    }

    /*--------------------------------
            SECCIÓN PROYECTOS
    ----------------------------------*/
    
    
    .seccion-proyectos {
        padding-left: 10px;
        padding-right: 10px; 
    }


    /* -- CAJA DE TARJETAS -- */
    .contenedor-proyectos {
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
    }

    .ver-mas {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }   

    /*--------------------------------
                FOOTER
    ----------------------------------*/
    /* -- MENÚ -- */
    .nav-footer {
        display: none
    }

    .img-contacto {
        width: 55px;
    }

    .amor {
        font-size: 14px;
    }


}
